{% extends 'base.html' %}

{% block meta %}
<script>
    const addCard = (task) => {
        $("#daftar_task").append(`
        <div class="card bg-light mb-3" style="max-width: 50rem; color:black;">
            <div class="card-header">Tanggal: ${task.fields.date}</div>
            <div class="card-body">
                <h4 class="card-title">${task.fields.title}</h4>
                <p style="color:black;" class="card-text">${task.fields.description}</p>
                <button class="btn btn-primary">Hapus Task</button>
            </div>
        </div>`);
    }

    var addTask = function() {
        var taskCards = $("#add-task").serialize();

        if ($("#title").val() && $("#description").val()) {
            $.ajax({ type: "POST", data: taskCards, url: "add/", dataType: "json", encode: true,}).
                done(function (data) {
                    addCard(data);
                    $("#add-task").trigger("reset");
                })
        }
    }

    $.getJSON('json/', function(data) {
        data.forEach(task => {
            addCard(task);
        });
    });
</script>
{% endblock meta %}

{% block content %}
<style>
    .todo {
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>

<div class="todo">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <h1>Todo List</h1>
                    <p class="description">Halo, {{user}}!</p>

                    <!-- Button untuk trigger modal -->
                    <div> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    + Tambah Task baru
                    </button></div>
                    <p><br></p>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" style="color:black;">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h5 class="modal-title">Tambah task</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <form method="POST" action="" id="add-task" class="p-3 m-0 border-0 bd-example" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="title" class="col-form-label" style="float: left;">Judul Task:</label>
                                            <input type="text" class="form-control" id="title" name="title">
                                        </div>
                                        <div class="mb-3">
                                            <label for="description" class="col-form-label" style="float: left;">Deskripsi:</label>
                                            <textarea class="form-control" id="description" name="description"></textarea>
                                        </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" name="submit" onclick="addTask()" class="btn btn-primary" data-bs-dismiss="modal">Buat task</button>
                                    </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                <div class="container-fluid" id="daftar_task">

                </div>

                <p class="description">Sesi terakhir login: {{ last_login }}</p>

                <a href="{% url 'todolist:logout' %}"><button class="btn btn-primary btn-customized">Logout</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}